<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia</title>
</head>
<body>

    <H1>HOla </H1>
    <div class="navbar navbar-expand-lg bg-light">
        <nav class="nav nav-tabs">
            <a class="nav-link active" aria-current="page" href="http://localhost:3000/Rmedicine">Registrar Medicina</a>
            <a class="nav-link active" aria-current="page" href="http://localhost:3000/RegisterProvider">Registrar Proveedor</a>
            <a class="nav-link active" aria-current="page" href="http://localhost:3000/SeeMedicine">Ver inventario</a>
            <a class="nav-link active" aria-current="page" href="http://localhost:3000/SeeProvider">Ver Proveedores</a>
    
        </nav>
    </div>
</body>
</html>